* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  padding: 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

#container {
  position: relative;
  padding-top: 2rem;
}

form {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f4f4f4;
  padding: 2rem;

  & input {
    padding: 8px;
  }

  & button {
    padding: 9px;
    border: none;
    cursor: pointer;
    margin-top: 1.3rem;
    background-color: #000;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

#download-zone {
  max-width: 700px;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background-color: #f4f4f4;
}

#notifications {
  position: absolute;
  top: 0;
  left: 0;
}

.notification {
  text-align: center;
  color: #000;
  padding: 8px 16px;

  &.info {
    background-color: deepskyblue;
  }
  &.success {
    background-color: limegreen;
  }
  &.error {
    background-color: red;
  }
}
